.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #f6cf27;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

.body{
    background: #f8f8f8;
}